h1 {
    color:black;
    border-left: 150px;  
    font-size: 60px;


}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    padding-top: 45px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 25px;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
  
}

.menu{
    margin-right: 30px;
    
}

.menu a{
    margin-left: 20px;
    margin-top: -10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
    font-style: italic;
}

.item{
    position: relative;
}

body{
    background-image: url("page2.jpg");
    background-size: cover;
}

 .p1{
     font-family: Georgia,serif;
     font-size: 25px;

 }
 .p2{
     font-family:Georgia,serif;
     font-size: 25px;
 }

.menu a{
    margin-left: 50px;

}
a:link{
    color:(#f0e679);
    
}
a:visited{
    color:rgba(155, 136, 201, 0.877);
}
a:hover{
    color: teal;
}
a:active{
    color: magenta;
}
.image{
    align-items: center;
    justify-content: center;
    display: flex;
}

.tag{
    font-size: 40px;
    padding-top:20px;
   color:darksalmon;
}
.footer{
    align-items: flex-start;
}



